# Writing Your Python Code

**Say "Hello" to the world in Python**

`[Tip]: To execute the Python code in the code cell below, click on the cell to select it and press Shift + Enter.`

In [1]:
# Try your first python code

print('Hello, Neurons.')

Hello, Neurons.

- After executing the cell above, you should see that Python prints `Hello, Neurons` Congratulations on running your Python code!

In [2]:
# Check the Python Version

import sys
print(sys.version)

3.9.12 (main, Apr  4 2022, 05:22:27) [MSC v.1916 64 bit (AMD64)]

To write comments in Python, use the number symbol `#` before writing your comment. When you run your code, Python will ignore everything past the # on a given line.

In [3]:
# print('Hi')

In [4]:
# create a function
def addition(a, b):
    '''
    This is a function is to perform addition operation
    '''
    print('Performing addition operation')
    output = a + b
    print(f'{a} + {b} is =', output)
    return output

In [5]:
addition(2, 1)

Performing addition operation
2 + 1 is = 3

3

In [1]:
print('Hello')

Hello

In [2]:
# Assignment 1 :-

str1 = 'Ghanshyam'
lst = [10,20,'Ram',34.56]
flt = 45.214
tup = (45.5,48,14,'Krishna',45)

print(str1)
print(lst)
print(flt)
print(tup)

Ghanshyam
[10, 20, 'Ram', 34.56]
45.214
(45.5, 48, 14, 'Krishna', 45)

(i) var1 = ‘ ‘
ii) var2 = ‘[ DS , ML , Python]’
(iii) var3 = [ ‘DS’ , ’ML’ , ‘Python’ ]
(iv) var4 = 1.

1) String
2) String
3) list
4) int

/ = This is an Division Operator (a/b)
// = This is an Floor division operator it can't return remainder
% = This is an mod operator it will give remainder
** = This is an power opearator returns the power

In [3]:
#Q4. Create a list of length 10 of your choice containing multiple types of data. Using for loop print the
#element and its data type.

lst = [10,20,30,'Ram',56.76]

for i in lst:
    print(i,type(i))

10 <class 'int'>
20 <class 'int'>
30 <class 'int'>
Ram <class 'str'>
56.76 <class 'float'>

In [11]:
#Using a while loop, verify if the number A is purely divisible by number B and if so then how many
#times it can be divisible.

a = int(input())
b = int(input())
cnt = 0
while a:
    if a % b == 0:
       cnt = cnt + 1
    break
print('count is = ',cnt)

 10
 5

count is =  1

In [10]:
#Create a list containing 25 int type data. Using for loop and if-else condition print if the element is
#divisible by 3 or not.

lst = [1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25]
lst1 = list()

for i in range(1,25):
    lst1.append(i)
    if i % 3 == 0:
        print(i)

3
6
9
12
15
18
21
24

What do you understand about mutable and immutable data types? Give examples for both showing
this property.

Mutable :- Mutable means we can modify the elements on same address location
Ex:- List , set

Immutable :- Immutable means we can't modify the element on Same address location
Ex:- string , tuple